<div class="container">
    <h4>Welcome</h4> 

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum quod ullam quidem laudantium ducimus illo ipsa, accusamus animi cumque eveniet suscipit alias neque officiis, nesciunt nemo, voluptate autem consequuntur repellendus.
    Laborum eum excepturi nostrum nesciunt quam. Voluptate dolores in sequi repellat magnam natus cum fugit? Corporis, ipsa earum inventore possimus velit numquam nemo! Similique perferendis consequatur adipisci sint itaque deserunt?
    Accusamus, consequatur. Pariatur id nemo fuga maxime magni. Natus aut veniam totam possimus laboriosam quis obcaecati eos, illum repellendus hic eum excepturi ut quas nemo sit? Nobis quaerat iusto natus.
    Reiciendis minus odio excepturi ab exercitationem fuga illo similique amet, ratione error animi assumenda? Modi voluptatum mollitia aliquid, nesciunt illum consequatur quis. Consectetur adipisci non obcaecati odit optio deserunt praesentium.</p>
  
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum quod ullam quidem laudantium ducimus illo ipsa, accusamus animi cumque eveniet suscipit alias neque officiis, nesciunt nemo, voluptate autem consequuntur repellendus.
        Laborum eum excepturi nostrum nesciunt quam. Voluptate dolores in sequi repellat magnam natus cum fugit? Corporis, ipsa earum inventore possimus velit numquam nemo! Similique perferendis consequatur adipisci sint itaque deserunt?
        Accusamus, consequatur. Pariatur id nemo fuga maxime magni. Natus aut veniam totam possimus laboriosam quis obcaecati eos, illum repellendus hic eum excepturi ut quas nemo sit? Nobis quaerat iusto natus.
        Reiciendis minus odio excepturi ab exercitationem fuga illo similique amet, ratione error animi assumenda? Modi voluptatum mollitia aliquid, nesciunt illum consequatur quis. Consectetur adipisci non obcaecati odit optio deserunt praesentium.</p>
  <img src="assets/mar.jpg" width="4480" height="2987" sizes="(max-width: 768px) 100vw, (max-width: 1024px) 100vw, (max-width: 1280px) 100vw, 100vw">    
</div>