.container {
    background-color: rgb(199, 186, 163);
    text-align: center;
}
p {
    margin: 30px;

}
h4{
    font-family: "Dancing Script";
    font-size: 100px;
    margin: 20px;
    text-align: center;
}
img {
    margin-top: 20px;
    width: 90%;
    height: 800px;
    margin-bottom: 80px;
}