#navbarClassicCollapse{
    background-color: black;
}
li a {
    color: white;
}
.navbar-brand{
    width: 80px;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-style:italic;
    margin-left: 50px;
}

img{
    border-radius: 25px;
   
}
a {
    font-family: "Dancing Script";
    font-size: 24px;
    margin-left: 50px;
}
.navbar {
    padding: 0px;
}