#navbarClassicCollapse{
    background-color: black;
}
li a {
    color: white;
}
.navbar-brand{
    text-align: center;
    width: 100px;
    height: 100px;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 25px;
    font-style:italic;
}

img{
    width: 50px;
}