.card-container {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    background-color: rgb(0, 0, 0);
   
  }
  
  .card {
    flex: 0 0 calc(33.33% - 10px); /* Esto asegura que cada tarjeta ocupe aproximadamente un tercio del contenedor y deja un espacio entre ellas */
    margin-bottom: 10px; /* Espacio entre las tarjetas */
    border-radius: 20px;
    margin: 15px;
    height: 122px;
    background-color: rgb(217, 204, 198);
  }
img {
    height: 120px;
    width: 350px;
    border-radius: 10px;
}